/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
html{ height:100%;
font-family: "Lato ", Light, sans-serif;
 box-sizing: border-box;}

body{ min-height:100%; padding:0; margin:0; position:relative;font-family: "Lato", Light, sans-serif;}

body::after{ content:''; display:block; height:100px; }


body {
  background:#fff;
}
/*
header{ background:#f0f3f5; height:50px; 
  top:0;font-family: "Trebuchet MS", Helvetica, sans-serif;}
*/




.action-button
{
	position: relative;
	padding: 3px 5px;
  margin: 0px 10px 10px 0px;
  float: left;
	font-family: "Lato", Light, sans-serif;
	font-size: 13px;
	color: #FFF;
	text-decoration: none;	
}



.s0
{
	background-color: #23c6c8;
    color : white;
}

.s0:hover
{
	background-color: #23c6c8;
    color : white;
}

.s0:visited
{
	background-color: #23c6c8;
    color : white;
}


.s1
{
	background-color: #1ab394;
	color : white;
}
.s1:hover
{
	background-color: #1ab394;
	color : white;
}
.s1:visited
{
	background-color: #1ab394;
	color : white;
}

.s2
{
	background-color: #F2CF66;
	color : white;
}

.s2:hover
{
	background-color: #F2CF66;
	color : white;
}

.s2:visited
{
	background-color: #F2CF66;
	color : white;
}

.s3
{
	background-color: #f0ad4e;
	color : white;
}

.s3:hover
{
	background-color: #f0ad4e;
	color : white;
}

.s3:visited
{
	background-color: #f0ad4e;
	color : white;
}
.s4
{
	background-color: #d9534f;
	color : white;
}

.s4:hover
{
	background-color: #d9534f;
	color : white;
}

.s4:visited
{
	background-color: #d9534f;
	color : white;
}

.ris2{
    margin-left: 43.5%;
    margin-top: -3%
   
}
.ris{
     margin-bottom: 8%;
   
}



table {
  border-collapse: separate;
  background:#fff;
  margin:150px auto;
    margin-bottom: 5%;
}

thead {
 
}

thead th {
  font-family: "Lato", Light, sans-serif;
  font-size:16px;
  font-weight:400;
  color:#0C1114;
  text-align:center;
  padding:20px;
  background:#CFD9E0;
  border-top:1px solid #858d99;
  

}


/* Add this attribute to the element that needs a tooltip */
[data-tooltip] {
  position: relative;
  z-index: 2;
  cursor: pointer;
}

/* Hide the tooltip content by default */
[data-tooltip]:before,
[data-tooltip]:after {
  visibility: hidden;
    
  opacity: 0;
  pointer-events: none;
}

/* Position tooltip above the element */
[data-tooltip]:before {
  position: absolute;
  bottom: 150%;
  left: 50%;
  margin-bottom: 5px;
  margin-left: -80px;
  padding: 7px;
  width: 160px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: #000;
  background-color: hsla(0, 0%, 20%, 0.9);
  color: #fff;
  content: attr(data-tooltip);
  text-align: center;
  font-size: 14px;
  line-height: 1.2;
}

/* Triangle hack to make tooltip look like a speech bubble */
[data-tooltip]:after {
  position: absolute;
  bottom: 150%;
  left: 50%;
  margin-left: -5px;
  width: 0;
  border-top: 5px solid #000;
  border-top: 5px solid hsla(0, 0%, 20%, 0.9);
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  content: " ";
  font-size: 0;
  line-height: 0;
}

/* Show tooltip content on hover */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
  visibility: visible;
  opacity: 1;
}

.logo{}

h2{
      margin: 64px auto;
      text-align: center;
      font-family: "Lato Light", Light, sans-serif;
}

html { font-size: 62.5%; }

body { 
  margin: 0;
  font-size: 1.8rem;
  font-family: "Lato", Light, sans-serif;
   
}
.subBody{
    margin-bottom: 10%;
}
.margina{
    margin: 3px;
}

.main-header {
    color:#0C1114;
  left: 0;
  top: 0;
  width: 100%;
  height: 6rem;
  background: #f2f2f2;
  line-height: 6rem;
  transform: translateY(0);
  transform: translate3d(0,0,0);
  transition: .25s transform;
  backface-visibility: hidden;
}

.heads-up {
  transform: translateY(-6rem);
  transform: translate3d(0,-6rem,0);
}

.main-header h1 {
  float: left;
  font-size: 1.4rem;
  margin: 0 0 0 1rem;
  text-transform: uppercase;
}

.main-header nav {
  float: right;
  font-size: 1.4rem;
}

.main-header nav ul { 
  margin-top: 0;
    margin-bottom: 1rem;
  padding: 0; 
}

.main-header nav li {
  display: inline-block;
        margin-top: 10%;

  padding: 0 2rem;
    border-bottom: 1rem;
  border-left: .1rem solid #555;
}

main { 
  padding: 10rem 6rem;
  background: #EEE;
}

tbody tr td {
  font-family: "Lato", Light, sans-serif;
  font-weight:400;
  color:#5f6062;
  font-size:13px;
  padding:5px 5px 5px 5px;
  border-bottom:1px solid #e0e0e0;
  
}

tbody tr:nth-child(2n) {
  background:#f0f3f5;
}

tbody tr:last-child td {
  border-bottom:none;

}

tbody:hover > tr td {
  
  /* uncomment for blur effect */
  /* color:transparent;
  @include text-shadow(0px 0px 2px rgba(0,0,0,0.8));*/
}

tbody:hover > tr:hover td {
  color:#2d2d2d;
}

footer{ 
  position:absolute; 
  bottom:0; 
  right: 0;    
  width:100%; 
  font-size: 15pX;
  weight:300px;
margin-top: 20%;
    
}
pre{
    background-color:#f2f2f2; 
      font-size:13px;
      font-family: "Lato", Light, sans-serif;
}
.preFoot{
    font-size: 18px;
}
footer{ background:#f2f2f2; }
/*
.Fott{
    margin-left: 50px;
     margin-top: 15px;
    margin-bottom: 15px;
}*/

    #footer {
bottom: 0;
        width: 100%;
        margin: auto;
    }
    .footerFloat {
	width: 100%;
    }
@media all and (min-width: 950px) {
    #footer {

        width: 980px;
        margin: auto;
    } 
    .footerFloat {
	width: 33%;
	float: left;
    }
}

#wrapper {
    
	background-color: #f2f2f2;
	width: 100%;
    overflow:hidden;
    bottom: 0;
} 