/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
html{ height:100%; }
body{ min-height:100%; padding:0; margin:0; position:relative; }

body::after{ content:''; display:block; height:100px; }


body {
  background:#fff;
}
header{ background:#f0f3f5; height:50px; 
  top:0;}




.action-button
{
	position: relative;
	padding: 10px 22px;
  margin: 0px 10px 10px 0px;
  float: left;
	
	font-size: 20px;
	color: #FFF;
	text-decoration: none;	
}



.s0
{
	background-color: #82A2ED;
    color : white;
}

.s0:hover
{
	background-color: #82A2ED;
    color : white;
}

.s0:visited
{
	background-color: #82A2ED;
    color : white;
}


.s1
{
	background-color: #82BF56;
	color : white;
}
.s1:hover
{
	background-color: #82BF56;
	color : white;
}
.s1:visited
{
	background-color: #82BF56;
	color : white;
}

.s2
{
	background-color: #F2CF66;
	color : white;
}

.s2:hover
{
	background-color: #F2CF66;
	color : white;
}

.s2:visited
{
	background-color: #F2CF66;
	color : white;
}

.s3
{
	background-color: #FF852F;
	color : white;
}

.s3:hover
{
	background-color: #FF852F;
	color : white;
}

.s3:visited
{
	background-color: #FF852F;
	color : white;
}
.s4
{
	background-color: #E74C3C;
	color : white;
}

.s4:hover
{
	background-color: #E74C3C;
	color : white;
}

.s4:visited
{
	background-color: #E74C3C;
	color : white;
}





table {
  border-collapse: separate;
  background:#fff;
  margin:50px auto;
}

thead {
 
}

thead th {
  font-family: 'Patua One', cursive;
  font-size:16px;
  font-weight:400;
  color:#0C1114;
  text-align:left;
  padding:20px;
  background:#CFD9E0;
  border-top:1px solid #858d99;
  
  &:first-child {
   @include border-top-left-radius(5px); 
  }

  &:last-child {
    @include border-top-right-radius(5px); 
  }
}

tbody tr td {
  font-family: 'Open Sans', sans-serif;
  font-weight:400;
  color:#5f6062;
  font-size:13px;
  padding:20px 20px 20px 20px;
  border-bottom:1px solid #e0e0e0;
  
}

tbody tr:nth-child(2n) {
  background:#f0f3f5;
}

tbody tr:last-child td {
  border-bottom:none;

}

tbody:hover > tr td {
  
  /* uncomment for blur effect */
  /* color:transparent;
  @include text-shadow(0px 0px 2px rgba(0,0,0,0.8));*/
}

tbody:hover > tr:hover td {
  color:#2d2d2d;
}
footer{ 
  position:absolute; 
  bottom:0; 
  width:100%; 
  height:100px; 
}
footer{ background:#DB8A8A; }
